.gnavi {
  display: flex;
  list-style: none;
  margin: 0;
}

.gnavi li a {
  color: #333;
  display: block;
  padding: 10px 30px;
  position: relative;
  text-decoration: none;
}

.gnavi li.current a,
.gnavi li a:hover {
  color: #2d3374;
}

.gnavi li a::after {
  background: #2d3374;
  bottom: 0;
  content: "";
  height: 2px;
  left: 10%;
  position: absolute;
  transition: all .3s;
  transform: scale(0, 1);
  transform-origin: center top;
  width: 80%;
}

.gnavi li a:hover::after {
  transform: scale(1, 1);
}