.hamburger {
  background: #2d3374;
  border-radius: 5px;
  cursor: pointer;
  height: 50px;
  margin: 10px;
  position: relative;
  width: 50px;
}

.hamburger span {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  height: 3px;
  left: 14px;
  position: absolute;
  transition: all .5s;
}

.hamburger span:nth-of-type(1) {
  top: 15px;
  width: 45%;
}
.hamburger span:nth-of-type(2) {
  top: 23px;
  width: 35%;
}
.hamburger span:nth-of-type(3) {
  top: 31px;
  width: 20%;
}

.hamburger.active span:nth-of-type(1),
.hamburger.active span:nth-of-type(3) {
  left: 18px;
  width: 30%;
}
.hamburger.active span:nth-of-type(1) {
  top: 18px;
  transform: translateY(6px) rotate(-135deg);
}
.hamburger.active span:nth-of-type(2) {
  opacity: 0;
}
.hamburger.active span:nth-of-type(3) {
  top: 30px;
  transform: translateY(-6px) rotate(135deg);
}